{% extends 'base.html' %}

{% block title %}{{ equipment.name }}{% endblock %}

{% block content %}
<div class="header-banner center-text">
  <div class="equipment-title-container">
    <h1 class="center-text">{{ equipment.name }}</h1>
    {% if user.is_superuser %}
    <a href="{% url 'edit_equipment' equipment.pk %}" class="btn">編集</a>
    {% endif %}
  </div>
</div>
<div class="center-text">
  <img src="{{ equipment.image.url }}" alt="{{ equipment.name }}" style="max-width: 300px; margin-top: 20px;">
  <p>{{ equipment.description }}</p>
  <p>カテゴリ: {{ equipment.category }}</p>
  <p>状態: {{ equipment.status }}</p>
  <p>設置場所: {{ equipment.location }}</p>
  <p>在庫数: {{ equipment.quantity }}</p>
</div>

{% if user.is_superuser %}
<h2 class="center-text">在庫数を変更</h2>
<form method="post" class="quantity-change-container center-text">
  {% csrf_token %}
  <div class="form-group">
    {{ form.quantity.label_tag }}
    {{ form.quantity }}
  </div>
  <button type="submit" class="btn">保存</button>
</form>
{% endif %}

<h2 class="center-text">在庫数の変更履歴</h2>
<ul class="center-text">
  {% for change in changes %}
  <li>{{ change.timestamp }} - {{ change.user.username }}: {{ change.new_quantity }} に変更</li>
  {% endfor %}
</ul>

<h2 class="center-text">発注依頼</h2>
<form method="post" class="order-request-form center-text">
  {% csrf_token %}
  <div class="form-group">
    {{ order_form.quantity_requested.label_tag }}
    {{ order_form.quantity_requested }}
  </div>
  <button type="submit" class="btn">発注依頼</button>
</form>

{% if user.is_superuser %}
<h2 class="center-text">発注依頼の承認</h2>
<ul class="center-text">
  {% for order in order_requests %}
  <li class="order-item">
    <div class="order-item-content">
      <p>{{ order.request_date }} - {{ order.user.username }}: {{ order.quantity_requested }} -
        <span class="{% if order.status == 'Approved' %}status-approved{% else %}status-pending{% endif %}">
          {{ order.get_status_display }}
        </span>
      </p>
      {% if not order.approved %}
      <form method="post" class="approve-form">
        {% csrf_token %}
        <input type="hidden" name="approve_order_request" value="{{ order.id }}">
        <button type="submit" class="btn">承認</button>
      </form>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
